.Image-Gallery-section {
  overflow: hidden;
}

.Image-Gallery-section .gallery-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #1e1e1e;
  font-weight: bold;
  margin-bottom: 15px;
}

.Image-Gallery-section .header2 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #787878;
  margin-top: 20px;
  padding-bottom: 15px;
}

.Image-Gallery-section .gallery-2 {
  position: relative;
  display: inline-block;
}

.Image-Gallery-section .gallery-2 span {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 9;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 12px;
}

.Image-Gallery-section .gallery-2 span .fas {
  font-size: 20px;
  margin-right: 5px;
}

.Image-Gallery-section .gallery-2:hover > span {
  opacity: 1;
}

.Image-Gallery-section .gallery-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 340px;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  opacity: 0;
}

.Image-Gallery-section .gallery-2 img {
  width: 100%;
}

.Image-Gallery-section .gallery-2:hover::before {
  opacity: 0.6;
}

.Image-Gallery-section .gallery-2 .gallery1 {
  width: 100%;
  height: 340px;
}

.Image-Gallery-section .galleryDiv {
  padding: 0 !important;
}

@media screen and (max-width: 920px) {
  .gallery-2 {
    width: 100%;
    height: 100%;
  }
  .gallery-2 .icon-zoom {
    display: none;
  }
}
